# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "02fee5ebd0c35e7e65f2bdb8944e1ffa"
name = "NN Instagram"
application_url = "https://shop-test-test.vercel.app/"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2025-10"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_metaobjects,write_files,write_metaobject_definitions,write_metaobjects,write_products,write_themes"

[auth]
redirect_urls = [
  "https://shop-test-test.vercel.app/auth/callback",
  "https://shop-test-test.vercel.app/auth/shopify/callback",
  "https://shop-test-test.vercel.app/api/auth/callback",
  "https://shop-test-test.vercel.app/instagram/callback"
]
